/* src/App.css */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 2px 16px;
}
